streamlit
firebase-admin
torch
transformers
langchain
langgraph
requests
beautifulsoup4
chromadb
folium
streamlit-folium
openai
duckduckgo-search
h3
geopy
certifi
geotext
geopandas
shapely
pyogrio
pydeck
gdeltdoc
ddgs
st-gsheets-connection