streamlit
torch
transformers
langchain
langgraph
requests
beautifulsoup4
chromadb
folium
streamlit-folium
openai
h3
geopy
certifi
geotext
geopandas
shapely
pyogrio
pydeck
gdeltdoc
ddgs
st-supabase-connection